@(baseName: String, secCount: Int, questionsCount: Int, sumTime: String)
@ui.standardPage {
    <h2>Статистика по базе "@baseName":</h2>
    Всего разделов в базе: @secCount.
    <br>
    Всего вопросов в базе: @questionsCount (суммарное время ответа на все вопросы: @sumTime).
    <br>

}

@*суммарное время по обоим группам вопросов
минимальное, максимальное, среднее количество вариантов ответа на вопрос (по всем вопросам базы)
всего вариантов ответа (на все вопросы)

!!!! минимальное, максимальное колво вопросов в разделе (ссылки на эти разделы)
вопросов, в которых используются картинки

---
сколько раз проходили тест
средее время затрачиваемое на сдачу.
средний % сдаваемости теста*@
