@import helper._
@(err: Option[String] = None, info: Option[String] = None)(implicit request: RequestHeader)
@ui.standardPage {

    @iskra.style.header("Смена пароля")
    @form(routes.UserController.changePasswordProc()) {
        <table border="0" align="center" width="500">
            @err.map { e =>
                @iskra.style.validation(e)
            }
            @info.map { e =>
                @iskra.style.info(e)
            }
            <tr>
                <td>Старый пароль:</td>
                <td><input type="password" name="old_password" size=45></td>
            </tr>
            <tr>
                <td>Новый пароль:</td>
                <td><input type="password" name="new_password" size=45></td>
            </tr>
            <tr>
                <td>Новый пароль (еще раз):</td>
                <td><input type="password" name="password_confirm" size=45>
                </td>
            </tr>
            <tr>
                <td colspan=2 align="center">
                    <input type="submit" value="Сменить пароль">
                </td>
            </tr>
        </table>
        @CSRF.formField
    }
}